# MySQL Database - TiDB Cloud
DB_HOST=gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com
DB_PORT=4000
DB_USER=3kvBExhfixnc3wk.root
DB_PASSWORD=<YOUR_PASSWORD>
DB_NAME=sys

# JWT Secret
JWT_SECRET=sql_lab_jwt_secret_2024

# Admin Emails & Passwords
ADMIN_EMAILS=admin@iobm.edu.pk
ADMIN_PASSWORDS=admin123